p {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: "Open Sans",arial;
    font-size: 14px;
}
/*Login */ 
.txtLogin{
    width: 200px;
    float:left;
}
.lblLogin{
    width:80px;
    float:left;
    text-align: right;
    padding-right: 10px;
}
#loginPanel{
    width: 297px;
    margin: 0px auto;   
    padding: 25px;
    background-color: #F7F7F7;    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
}
.inputContainer{
    padding-bottom:10px;
    color: grey;    
}
.inputContainer span{
    padding-top:3px;
}
#btnIngresar{
    float: right;
    border: 1px solid rgba(0, 102, 255, 1);
    background-color: rgba(0, 201, 255, 1);
    border-radius: 2px;
    width: 90px;
    height: 27px;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}
#lnkOlvideClave{
    color: #3C3C3C;   
    padding-top: 5px;
    display:inline-block;
}
#loginTitle{    
    color: #555;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
}
#respuesta{    
    background-color: red;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;    
    display:inline-block;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}