p {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: "Open Sans",arial;    
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#headtit{
    text-align:center;
}
h1{
    display:inline !important;
}
h1,h2{
    text-align:center;
}
h2{
    padding: 0;
    padding-top: 10px;
    margin: 0;
}
/*Login */ 
.txtLogin{
    width: 200px;
    float:left;
}
.lblLogin{
    width:80px;
    float:left;
    text-align: right;
    padding-right: 10px;
}
#loginPanel{
    width: 297px;
    margin: 0px auto;   /* Para alinear al medio si se sabe el ancho */
    padding: 25px;
    background-color: #F7F7F7;    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
}
.inputContainer{
    padding-bottom:10px;
    color: grey;    
}
.inputContainer span{
    padding-top:3px;
}
#btnIngresar{
    float: right;
}
#lnkOlvideClave{
    color: #3C3C3C;   
    padding-top: 5px;
    display:inline-block;
}
#loginTitle{    
    color: #555;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
}
.respuesta{    
    background-color: red;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;    
    display:inline-block;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
/* Menu */
#MenuHolder{     
    margin-top:23px;
    min-width: 700px;
}
#menu{   
    border-left: 3px solid black ;        
}
#menu a.static {
    padding-left: 7px;
    padding-right: 7px;   
    
}
#menu a {
    text-decoration: none;  
    color: rgba(71, 71, 71, 1);
    display: block;
    font-size: 20px;     
}
#menu ul {
    list-style: outside none none;    
    margin:0px;
    padding-left:30px;
    padding-right:30px;
}
#Titulo{      
    text-align: left;    
    padding-right: 30px;
    padding-left: 30px;
}
#Titulo a{    
    text-decoration: none; 
    font-size: 50px;        
    color:black;    
}
#LogOut{         
    margin-top: 23px;
    margin-right: 50px;
    margin-left: 23px;
    border-left: 3px solid black ;  
}
#LogOut a{
    font-size: 20px;   
    text-decoration: none;
    color:rgba(71, 71, 71, 1);  
    margin-left: 5px;     
    padding-left: 5px;    
}
header{
    background-color: #6BDFFF;
    border-bottom: solid rgba(0, 201, 255, 1);
    display: block;    
}
#headerPanel{
    height: 60px;     
    padding-bottom: 5px;       
    padding-top: 5px;   
    width: 1250px;
    margin: 0px auto;
}
#headerPanel div{  
    display: block !important;  
    float:left !important;
}
.centered{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
table
{	
	font-size: 12px;
	margin: 45px;
	min-width: 200px;
	text-align: left;
	border-collapse: collapse;
    border-left: none ;
    border-right: none ;
}
table th
{
	font-size: 13px;
	font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: none repeat scroll 0% 0% #8BE6FF;
    border-width: 4px medium 1px;
    border-style: solid none;
    border-color: rgba(0, 201, 255, 1) -moz-use-text-color #FFF;
    color: rgba(0, 30, 90, 1);
    
}
table td {
    padding: 8px;    
    border-width: 1px medium;
    border-style: solid none;
    border-color: transparent -moz-use-text-color #FFF;
}

table tr{
    background: none repeat scroll 0% 0% rgba(230, 250, 255, 1);
    color: rgba(104, 104, 153, 1);
}

table tr:hover td {
    background: none repeat scroll 0% 0% rgba(207, 245, 255, 1);
    color: #339;
    cursor: pointer;
}

.button{
    border: 1px solid rgba(115, 171, 255, 1);
    background-color: #00C9FF;
    border-radius: 2px;
    width: 90px;
    height: 27px;
    color: #FFF;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.formbutton{
    padding: 6px;
}
#PageContent_lbtnEliminar{
    background-color: #FF7E7E;
    border: 1px solid #FF6060;
}
.rowselected{
    background-color: #00C9FF ;
    color:white;
}
.rowselected:hover td{
    background-color: rgba(10, 185, 233, 1);
    color:white;
}

#PageContent_formPanel{
    width: 200px;
    margin: 0px auto;   /* Para alinear al medio si se sabe el ancho */
    padding: 25px;
    background-color: #F7F7F7;    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);    
}
#PageContent_formPanel span{
    padding-top: 4px;      
    padding-bottom: 1px;   
    display: inline-block;
    width:100%;
}
#PageContent_formPanel input[type="text"], #PageContent_formPanel input[type="password"]{
    width: 100% ;   
}
#PageContent_formPanel .fecha{
    display: inline-block;
    width: 25.5% !important;
    padding: 3px;
}


.error{  
    background-color: red;
    width: 100%;
    text-align: center !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;      
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
span.error[style*="inline"]
{
display:block !Important;
}
span.error[style*="visible"]
{
display:block !Important;
}
#PageContent_formActionsPanel{
    padding-top: 20px;
}
#PageContent_gridActionsPanel{
    padding-left: 45px;    
}
#PageContent_upLoading[style*="block"]
{
    display: inline-block !important;
}
#PageContent_upLoading2[style*="block"]
{
    display: inline-block !important;
}
#PageContent_ErrorBox{     
     background-color: red; 
}
#PageContent_MessageBox{     
     background-color: rgba(48, 218, 68, 1); 
}
.Box{     
    width: 50%;
    margin: 0 auto;         
    text-align: center !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;      
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
}
.Close{
    width:20px;
    height:20px;cursor: pointer;
    float:right;
    padding-right: 5px;
}
#PageContent_CloseError :hover{
    cursor: pointer;
}
.dynamicmenu{
    background-color: #6BDFFF;
    border: solid rgba(0, 201, 255, 1);    
}
.loading{    
    padding-left: 8px;
    display: inline-block !important;    
}
