<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>    
      <pages theme="Azul"/>
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.0" />
      <membership defaultProvider="SqlProvider" >
        <providers>
          <remove name="SqlProvider"/>
          <add name="SqlProvider"
                type="System.Web.Security.SqlMembershipProvider"
                connectionStringName="ApplicationServices"
                enablePasswordRetrieval="false"
                enablePasswordReset="true"
                requiresQuestionAndAnswer="false"
                applicationName="Academia"
                requiresUniqueEmail="false"
                passwordFormat="Hashed"
                maxInvalidPasswordAttempts="5"
                minRequiredPasswordLength="7"
                minRequiredNonalphanumericCharacters="0"
                passwordAttemptWindow="10"
                passwordStrengthRegularExpression=""/>
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="SqlProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
        <providers>
          <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" applicationName="Academia" connectionStringName="ApplicationServices"/>
        </providers>
      </roleManager>
    </system.web>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=localhost;&#xD;&#xA;                           Initial Catalog=Academia;&#xD;&#xA;                           Persist Security Info=false;&#xD;&#xA;                           User ID=net;&#xD;&#xA;                           Password=net"




         providerName="System.Data.SqlClient"
    />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
     connectionString="Data Source=localhost;Initial Catalog=Academia;Integrated Security=false;User ID=net; Password=net"/>
  </connectionStrings>
</configuration>
