<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>    
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.0" />      
    </system.web>
   <connectionStrings>
      <add name="ConnStringLocal"
      providerName="System.Data.SqlClient"
      connectionString="Server=LOCALHOST;Database=Academia;Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
      <add name="ConnStringExpress"
      providerName="System.Data.SqlClient"
      connectionString="Server=localhost\SQLEXPRESS;Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
      <add name="ConnStringServerISI"
      providerName="System.Data.SqlClient"
      connectionString="Server=serverisi; Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
   </connectionStrings>
</configuration>
