<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <connectionStrings>
    <add name="ConnStringLocal"
    providerName="System.Data.SqlClient"
    connectionString="Server=LOCALHOST;Database=Academia;Integrated Security=true;Connection Timeout=5"/>
    <add name="ConnStringExpress"
    providerName="System.Data.SqlClient"
    connectionString="Server=localhost\SQLEXPRESS;Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
    <add name="ConnStringServerISI"
    providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
  </connectionStrings>
</configuration>
