<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="SqlProvider" >
      <providers>
        <remove name="SqlProvider"/>
        <add name="SqlProvider" 
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false"
             applicationName="Academia"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" 
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" applicationName="Academia" connectionStringName="ApplicationServices"/>
      </providers>
    </roleManager>   
  </system.web>
  
  
  <connectionStrings>
    <add name="ConnStringLocal"
    providerName="System.Data.SqlClient"
    connectionString="Server=LOCALHOST;Database=Academia;Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
    <add name="ConnStringExpress"
    providerName="System.Data.SqlClient"
    connectionString="Server=localhost\SQLEXPRESS;Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
    <add name="ConnStringServerISI"
    providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=Academia; Integrated Security=false; User=net; Password=net;Connection Timeout=5"/>
    <add name="ApplicationServices"
     connectionString="Data Source=localhost; Initial Catalog=Academia; Persist Security Info=false; User ID=net; Password=net"
     providerName="System.Data.SqlClient"    />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" 
     connectionString="Data Source=localhost;Initial Catalog=Academia;Integrated Security=false;User ID=net; Password=net"/>  
  </connectionStrings>
</configuration>
